body {
    margin: 0;
    padding: 0;
    background: rgb(245, 218, 145);
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
}

.NewNote {
    position: absolute;
    background-color: rgb(185, 218, 251);
    width: 300px;
    min-height: 300px;
    margin-left: 20px;
}

.ForWrite {
    background-color: rgb(185, 218, 251);
    width: 200px;
    min-height: 200px;
    padding: 20px;
    margin: 20px;
    resize: none;
}